.fotPerf{
    max-height: 100%;
    max-width: 100%;
    border: 4px solid ;
}
.card-text{
    color: white;
}
.card-title{
    color: white;
}
.cardpro:hover{
    box-shadow: 5px 50px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.text{
    background-color: #242020;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
    font-size: 40px;
}