
.container {
    position:relative;

}
.img#imagen_de_fondo {
    min-height: 100%;
    min-width: 800px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.container h1{
    color: blue;
    font-size: 1.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h2{
    color: rgb(227, 253, 75);
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h3{
    color: rgb(202, 59, 190);
    font-size: 1.7rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}