<!--proyectos-->
<div class="text"><h1>Proyectos</h1></div>
<section class="presentacion mt-5">
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="cardpro">
        <img src="../../../assets/img/pong.png" class="card-img-top" alt="pong">
        <div class="card-body">
          <h5 class="card-title">Pong Retro</h5>
          <p class="card-text">Todo en html como parte del curso de programacion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cardpro">
        <img src="../../../assets/img/montazzolli.png" class="card-img-top" alt="restoweb">
        <div class="card-body">
          <h5 class="card-title">Montazzolli</h5>
          <p class="card-text">La pagina de este resto, es mi primer reto en la confeccion de una pagina responsive.
            hermoso</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cardpro">
        <img src="../../../assets/img/snake.png" class="card-img-top" alt="snake">
        <div class="card-body">
          <h5 class="card-title">Snake game</h5>
          <p class="card-text">tipico juego retro de la serpiente que crece</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cardpro">
        <img src="../../../assets/img/resto2.png" class="card-img-top" alt="restoweb2">
        <div class="card-body">
          <h5 class="card-title">Resto app</h5>
          <p class="card-text">Que puedo decir, me encanta la tematica de restorantes!</p>
        </div>
      </div>
    </div>
  </div>
</section>