
<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/"target="_blank">
            <img src="../../../assets/img/APLogo.png" alt="APLogo" width="170">
        </a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.facebook.com/ezequiel.ubuntu"target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://web.whatsapp.com/"target="_blank"><i class="fa-brands fa-whatsapp fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://github.com/ecerella"target="_blank"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
            <li>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </ul>
    </div>
</nav>