
<style>
    .row{
        background-image: url(../../../assets/img/baner2.jpg);
        padding: 10px;
        margin: 10px;
        margin: 10px;
        height: 600px;
        }
    form{
        color: white;
    }
    input, textarea {
        margin-bottom: 20px;
    }

</style>
    <div class="container align-items-center">
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-8">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE">nombre de la institución</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">descripcion de sus estudios</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                    </div>
                    <button class="btn btn-primary">
                        agregar educacion
                    </button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>