.conte {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .50), rgb(0 0 0 / 1)),url(../../../assets/img/bannerMaster.jpg);
    background-size: cover;
    background-position: center;
}
.contenedor {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    width: 50%;
    text-align: center;
}
.txtuno {
    color: rgb(104, 8, 56);
    font-size: 3.5rem;
}
.txtdos {
    color: rgb(26, 106, 211);
    font-size: 4.5rem;
}
.txtres {
    color: rgb(241, 218, 10);
    font-size: 2rem;
}