
<style>
    .row{
        background-image: url(../../../assets/img/baner2.jpg);
        padding: 10px;
        margin: 10px;
        margin: 10px;
        height: 600px;
        }
    form{
        color: white;
    }
    input, textarea {
        margin-bottom: 20px;
    }

</style>
    <div class="container align-items-center" *ngIf="skill">
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-8">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">nombre de la skill</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="porcentaje">ingrese porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                    </div>
                    <button class="btn btn-primary">
                        actualizar skill
                    </button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>