<!--skills-->
<h1 class=" text-center intro pt-4">hard & soft skills</h1>
<section class="presentacion mt-5">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress 
            [percent]="46" 
            [radius]="100" 
            [imageSrc]="'../../../assets/img/imgProg/html.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#DB3A18'"
                [innerStrokeColor]="'#D37F58'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="64" 
            [radius]="100" [imageSrc]="'../../../assets/img/imgProg/angular.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#A7A6A6'"
                [innerStrokeColor]="'#DB3A18'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="32" 
            [radius]="100" 
            [imageSrc]="'../../../assets/img/imgProg/css.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#136EE6'"
                [innerStrokeColor]="'#90B3DF'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="54" 
            [radius]="100" 
            [imageSrc]="'../../../assets/img/imgProg/js.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#D2C20E'"
                [innerStrokeColor]="'#EAEA6A'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="62" 
            [radius]="100" 
            [imageSrc]="'../../../assets/img/imgProg/node.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- You can now use it in app.component.html -->
            <circle-progress [percent]="86" 
            [radius]="100" 
            [imageSrc]="'../../../assets/img/imgProg/colaborativo.png'"
                [showImage]="true" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false" 
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="'#000000'"
                [innerStrokeColor]="'#767575'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
    </div>
</section>