      <!--experiencia-->
      <h1 class=" text-center intro pt-4">experiencia</h1>
      <section class="presentacion mt-5">.-
        <div class="container d-flex justify-content-center">
            <div class="row">
              <div class="col-9">
                <h4 class="mt-10 pt-6">poco mas de 15 años de diseño grafico y editorial, algo de edicion multimedia y horas de desarrollo en electronica arduino y otros hobbies</h4>
              </div>
              <div class="col-3" mt-10>
                <img src="../../../assets/img/diseño.jpg" alt="foto perfil" class="fotPerf img-fluid w-30">
              </div>
            </div>
          </div>
      </section>
